body {
  margin: 0;
  padding: 0;
}

.galeria {
  width: 100%;
}

.galeria-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.galeria-itens {
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.galeria-item- {
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.galeria-item-,
.galeria-item- {
  height: 250px;
  opacity: 0.8;
  width: 380px;
  z-index: 1;
}

.galeria-item- {
  left: 30%;
  transform: translateX(-50%);
}

.galeria-item- {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  z-index: 2;
}

.galeria-item- {
  left: 70%;
  transform: translateX(-50%);
}

.galeria-item- {
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}

.galeria-controls {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 255px;
  z-index: 2;
  gap: 437px;
}

.galeria-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 50px;
  
}
.galeria-controls-previous,
.galeria-controls-next {
    color: #000; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.galeria-controls-button:focus {
  outline: none;
}
.galeria-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}
.galeria-nav li {
  background: #fcebd5;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.galeria-nav li.galeria-item-selected {
  background: #555;
}

#grid-introducao,
#grid-destaques {
  display: grid;
  width: 100%;
}

#titulo,
#titulo-destaque,
#titulo-agenda {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 90px;
  width: 390px;
}

.titulo-pagina-inicial {
  font-weight: 900;
  font-size: 32px;
}

.titulo-pagina-inicial-adm{
  display: flex;
  justify-content: center;
}

#titulo-adm{
    margin-top: 50px;
}

.introducao-texto {
  margin-left: 100px;
  margin-top: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteudo-introducao {
  width: 400px;
  font-size: 20px;
  text-align: justify;
}

#img-idealizadores {
  width: 650px;
  height: 420px;
  border-radius: 20px;
}

.imagem {
  margin-right: 110px;
  margin-top: -30px;
}

.imagem figure {
  text-align: center;
}

.imagem figcaption {
  font-size: 16px;
  color: #000;
  margin-top: 5px;
}

#titulo-agenda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 300px;
}

.agenda-eventos{
  margin-top: 90px;
  margin-bottom: -300px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  margin-left: 100px;
  gap: 50px;
  
}

.agenda-card {
  margin-bottom: 35px;
  width: 450px;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  background-color: #000;
  border-radius: 16px;
  color: white;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  
}

.agenda-card:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.data-agenda {
  background-color: #fcebd5;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  width: 50px;
  height: 100%;
}

.data-agenda .dia {
  font-size: 26px;
  font-weight: bold;
}

.data-agenda .mes {
  font-size: 18px;
  font-weight: bold;
}

.conteudo-agenda {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
}

.titulo-agenda {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  
}

.descricao-agenda {
  font-size: 15px;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  color: #ccc;
}

.agenda-card.open .descricao-agenda {
  max-height: 500px;
  opacity: 1;
}

.modal-agenda {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: #111;
  color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.4s ease;
  padding: 30px 20px;
  z-index: 9999;
  overflow-y: auto;
}
#modal-agenda {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.modal-agenda.ativo {
  right: 0;
}

.fechar-modal {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 28px;
  cursor: pointer;
}

.modal-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.data-modal {
  background-color: #fcebd5;
  color: #000;
  padding: 10px 14px;
  border-radius: 12px;
  text-align: center;
}

.data-modal .dia {
  font-size: 24px;
  font-weight: bold;
}

.data-modal .mes {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-top: 2px;
}

#modal-titulo {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

#modal-descricao {
  margin-top: 20px;
  font-size: 16px;
  color: #ccc;
   white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  max-width: 100%; 
  word-break: break-word; 
}

.container-form {
  max-width: 600px;
  margin: 40px auto;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.6 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
}

.titulo-form {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: #000;
}

.p-agenda {
  display: flex;
  justify-content: center;
}

.label-form {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #000;
}

.input-form {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #000;
  border-radius: 5px;
  color: #000;
}

.alinhamento-button {
  margin-top: 20px;
  text-align: center;
}

.button-entrar {
  background-color: #f5e9d4;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
  font-weight: 600;
}

.button-entrar:hover {
  transition: 0.7s;
  background-color: #ffdea4;
}

.container-botao-criar{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.botao-criar-projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 130px;
  text-decoration: none;
  background-color: #000;
  color: #f5e9d4;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: 600;
}

.botao-criar-projeto:hover {
  background-color: #333;
  transform: scale(1.05);
}